<main class="main-consultar flex flex-column center">
    <div class="table-wrapper flex flex-column center">
        <table cellspacing="0" class="tables data-table tb-consulta flex flex-column">
            <thead>
                <tr class="tr-titulo">
                    <th colspan="{{count_keys(alunos)}}">Aluno</th>
                </tr>
                <tr class="row-column-titles tr-consultar-id">
                    {% if not alunos %}
                    {% else %}
                    <td class="td-button"></td>
                    <td class="td-button"></td>
                    <td class="td-button"></td>
                    <td>ID <div class="resize-handle"></div>
                    </td>
                    <td>Nome <div class="resize-handle"></div>
                    </td>
                    <td>CPF <div class="resize-handle"></div>
                    </td>
                    <td>RG <div class="resize-handle"></div>
                    </td>
                    <td>Data_Nasc <div class="resize-handle"></div>
                    </td>
                    <td>Certidão <div class="resize-handle"></div>
                    </td>
                    <td>Carteira Vacina <div class="resize-handle"></div>
                    </td>
                    <td>Situacão Matrícula <div class="resize-handle"></div>
                    </td>
                    <td>Data Matrícula <div class="resize-handle"></div>
                    </td>
                    <td>Data Inicio <div class="resize-handle"></div>
                    </td>
                    <td>ID_USER_TURMA <div class="resize-handle"></div>
                    </td>
                    <td>ID_USER_RESPONSAVEL <div class="resize-handle"></div>
                    </td>
                    <td>ID_USER_PADRINHO <div class="resize-handle"></div>
                    </td>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                {%if alunos%}
                <tr>
                    <td class="td-button">
                        <button type="button" class="button"
                            onclick="toggleRelationship()">Ver</button>
                    </td>
                    <td class="td-button">
                        <form id="formEditarAluno_{{ alunos.ID_ALUNO }}" method="POST">
                            <input type="hidden" name="id_alunos" value="{{ alunos.ID_ALUNO }}">
                            <button type="button" onclick="editarAluno('{{ alunos.ID_ALUNO }}')"
                                class="button">Editar</button>
                        </form>
                    </td>
                    <td class="td-button">
                        <form action="?pag=aluno&metodo=excluir" method="POST">
                            <input type="hidden" name="id_alunos" value="{{ alunos.ID_ALUNO }}">
                            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este aluno?')"
                                class="button">Excluir</button>
                        </form>
                    </td>
                    <td>{{alunos.ID_ALUNO}}</td>
                    <td>{{alunos.nome}}</td>
                    <td>{{alunos.cpf}}</td>
                    <td>{{alunos.rg}}</td>
                    <td>{{alunos.data_nasc}}</td>
                    <td>{{alunos.certidao}}</td>
                    <td>{{alunos.carteira_vacina}}</td>
                    <td>{{alunos.situacao_matricula}}</td>
                    <td>{{alunos.data_matricula}}</td>
                    <td>{{alunos.data_inicio}}</td>
                    <td>{{alunos.ID_USER_TURMA}}</td>
                    <td>{{alunos.ID_USER_RESPONSAVEL}}</td>
                    <td>{{alunos.ID_USER_PADRINHO}}</td>
                </tr>
                {% if responsavel %}
                <tr id="responsavel_{{ alunos.ID_USER_RESPONSAVEL }}" class="tr-toggle" style="display: none;">
                    <td class="td-button text-right">
                        <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14 11L18 15M18 15L14 19M18 15H7C5.89543 15 5 14.107 5 13.0025C5.00001 10.0901 5.00002 4.92333 5.00002 4"
                                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </td>
                    <td colspan="2" class="td-button">
                        <a href="?pag=usuario&id={{responsavel.ID_USER}}" class="no-style-link">Responsável</a>
                    </td>
                    <td class="td-button"></td>
                    <td>
                        <a href="?pag=usuario&id={{responsavel.ID_USER}}" class="no-style-link">
                            {{ responsavel.ID_USER }}
                        </a>
                    </td>
                    <td>
                        <a href="?pag=usuario&id={{responsavel.ID_USER}}" class="no-style-link">
                            {{ responsavel.nome }}
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="15" align="center">{{ erro }}</td>
                </tr>
                {% endif %}
                {% if padrinho %}
                <tr id="padrinho_{{ alunos.ID_USER_PADRINHO }}" class="tr-toggle" style="display: none;">
                    <td class="td-button text-right">
                        <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14 11L18 15M18 15L14 19M18 15H7C5.89543 15 5 14.107 5 13.0025C5.00001 10.0901 5.00002 4.92333 5.00002 4"
                                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </td>
                    <td colspan="2" class="td-button">
                        <a href="?pag=usuario&id={{padrinho.ID_USER}}" class="no-style-link">Padrinho</a>
                    </td>
                    <td class="td-button"></td>
                    <td>
                        <a href="?pag=usuario&id={{padrinho.ID_USER}}" class="no-style-link">
                            {{ padrinho.ID_USER }}
                        </a>
                    </td>
                    <td>
                        <a href="?pag=usuario&id={{padrinho.ID_USER}}" class="no-style-link">
                            {{ padrinho.nome }}
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="15" align="center">{{ erro }}</td>
                </tr>
                {% endif %}
                {% else %}
                <tr>
                    <td colspan="15" align="center">{{ erro }}</td>
                </tr>
                {%endif%}
            </tbody>
        </table>
    </div>
</main>