
{% include 'header_sistema.html' %}
<main class="main-editar-usuario">
  <form
    action="?pag=padrinho&metodo=atribuirpadrinho"
    method="POST"
    class="form-cad flex flex-column center"
  >
    <input type="hidden" name="id_padrinho" value="{{ usuario.ID_USER }}" />
    <table cellspacing="0" class="tables tb-matricula">
      <thead>
        <tr class="tr-titulo">
          <th colspan="2" class="tb-matricula-th">Atribuir Padrinho</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-titulo-section">
          <th colspan="2" class="tb-matricula-th">Usuário:</th>
        </tr>
        <tr>
          <td>ID</td>
          <td>
            <input
              type="text"
              name="id_padrinho"
              value="{{ usuario.ID_USER }}"
              class="textbox cad-textbox"
              readonly
            />
          </td>
        </tr>
        <tr>
          <td>Nome</td>
          <td>
            <input
              type="text"
              name="nome_padrinho"
              value="{{ usuario.nome }}"
              class="textbox cad-textbox"
              readonly
            />
          </td>
        </tr>
        <tr class="tr-titulo-section">
          <th colspan="2" class="tb-matricula-th">Atribuir com Aluno:</th>
        </tr>
        <tr>
          <td>ID</td>
          <td>
            <select
              id="id_aluno"
              name="id_aluno"
              onchange="redirectAtribuirP('padrinho','AtribuirPadrinho',{{usuario.ID_USER}})"
              class="textbox cad-textbox"
            >
            {% for aluno in alunos %}
                <option value="{{aluno.ID_ALUNO}}" {% if aluno.ID_ALUNO == idAlunoSelecionado %} selected {% endif %}>
                    {{aluno.ID_ALUNO}}
                </option>
            {% endfor %}
        </select>
          </td>
        </tr>
        <tr>
          <td>Nome</td>
          <td>
            <input
              type="text"
              id="nome_aluno"
              name="nome_aluno"
              value="{{aluno.nome}}"
              class="textbox cad-textbox"
              readonly
            />
          </td>
        </tr>
        <tr class="tr-submit">
          <th colspan="2" class="tb-matricula-th td-submit">
            <input
              type="submit"
              value="Atribuir"
              class="button btn-form-submit"
            />
          </th>
        </tr>
      </tbody>
    </table>
  </form>
</main>
{% include 'footer.html' %}
<script src="public/assets/js/buscarNomeAluno.js"></script>
