{% include 'header.html' %}
<main class="main-cad">
  <form
    action="?pag=matricula&metodo=cadastrar"
    method="POST"
    class="form-cad flex flex-column center"
  >
    <table cellspacing="0" class="tables tb-matricula">
      <thead>
        <tr class="tr-titulo">
          <th colspan="2" class="tb-matricula-th">Matrícula</th>
        </tr>
      </thead>
      <tbody>
        <!-- Informações do Aluno -->
        <tr class="tr-titulo-section">
          <th colspan="2" class="tb-matricula-th">Informações do Aluno</th>
        </tr>
        <tr>
          <td>Nome do Aluno</td>
          <td>
            <input
              type="text"
              name="nome_aluno"
              class="textbox cad-textbox"
              autocomplete="off"
              placeholder="Seu Nome"
              pattern="^[\p{L}\s]+$"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Data de Nascimento do Aluno</td>
          <td>
            <input
              type="date"
              name="data_nasc_aluno"
              class="textbox cad-textbox"
              required
            />
          </td>
        </tr>
        <tr>
          <td>CPF do Aluno</td>
          <td>
            <input
              type="text"
              name="cpf_aluno"
              class="textbox cad-textbox inputCPF"
              autocomplete="off"
              maxlength="14"
              placeholder="Ex: 000.000.000-00"
              pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}"
              required
            />
          </td>
        </tr>
        <tr>
          <td>RG do Aluno</td>
          <td>
            <input
              type="text"
              name="rg_aluno"
              class="textbox cad-textbox inputRG"
              autocomplete="off"
              maxlength="12"
              placeholder="Ex: 00.000.000-0"
              pattern="\d{2}\.?\d{3}\.?\d{3}-?\d{1}"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Certidão de Nascimento do Aluno</td>
          <td>
            <input
              type="text"
              name="certidao_aluno"
              class="textbox cad-textbox inputCertidao textflow-ellipse"
              autocomplete="off"
              maxlength="40"
              placeholder="Ex: 000000.00.00.0000.0.00000.000.0000000-00"
              pattern="\d{6}\.?\d{2}\.?\d{2}.?\d{4}.?\d{1}.?\d{5}.?\d{3}.?\d{7}-?\d{2}"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Carteira de Vacina do Aluno</td>
          <td>
            <input
              type="text"
              name="carteira_vacina_aluno"
              class="textbox cad-textbox"
              required
            />
          </td>
        </tr>
        <!-- Informações do Responsável -->
        <tr class="tr-titulo-section">
          <th colspan="2" class="tb-matricula-th">
            Informações do Responsável
          </th>
        </tr>
        <tr>
          <td>Nome do Responsável</td>
          <td>
            <input
              type="text"
              name="nome_responsavel"
              class="textbox cad-textbox"
              placeholder="Seu Nome"
              pattern="^[\p{L}\s]+$"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Email do Responsável</td>
          <td>
            <input
              type="email"
              name="email_responsavel"
              class="textbox cad-textbox"
              autocomplete="off"
              placeholder="exemplo@email.com"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Senha</td>
          <td>
            <input
              type="password"
              name="senha_responsavel"
              class="textbox cad-textbox inputSenha"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Confirmar Senha</td>
          <td>
            <input
              type="password"
              name="confirmar_senha_responsavel"
              class="textbox cad-textbox inputConfirmarSenha"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Data de Nascimento do Responsável</td>
          <td>
            <input
              type="date"
              name="data_nasc_responsavel"
              class="textbox cad-textbox"
              required
            />
          </td>
        </tr>
        <tr>
          <td>CPF do Responsável</td>
          <td>
            <input
              type="text"
              name="cpf_responsavel"
              class="textbox cad-textbox inputCPF"
              autocomplete="off"
              maxlength="14"
              placeholder="Ex: 000.000.000-00"
              pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}\"
              required
            />
          </td>
        </tr>
        <tr>
          <td>RG do Responsável</td>
          <td>
            <input
              type="text"
              name="rg_responsavel"
              class="textbox cad-textbox inputRG"
              autocomplete="off"
              maxlength="12"
              placeholder="Ex: 00.000.000-0"
              pattern="\d{2}\.?\d{3}\.?\d{3}-?\d{1}"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Contato do Responsável</td>
          <td>
            <input
              type="text"
              name="contato_responsavel"
              class="textbox cad-textbox inputContato"
              placeholder="Ex: (00) 00000-0000"
              required
            />
          </td>
        </tr>
        <tr class="tr-titulo-section">
          <th colspan="2" class="tb-matricula-th">Dados de Endereço</th>
        </tr>
        <tr>
          <td>CEP</td>
          <td>
            <input
              type="text"
              name="cep"
              class="textbox cad-textbox inputCEP"
              maxlength="9"
              pattern="\d{5}-?\d{3}"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Logradouro</td>
          <td>
            <input
              type="text"
              name="logradouro"
              class="textbox cad-textbox"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Bairro</td>
          <td>
            <input
              type="text"
              name="bairro"
              class="textbox cad-textbox"
              pattern="^[\p{L}\s]+$"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Número</td>
          <td>
            <input
              type="text"
              name="numero_endereco"
              class="textbox cad-textbox"
              maxlength="3"
              pattern="\d{1,3}"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Complemento</td>
          <td>
            <input type="text" name="complemento" class="textbox cad-textbox" />
          </td>
        </tr>
        <tr>
          <td>Cidade</td>
          <td>
            <input
              type="text"
              name="cidade"
              class="textbox cad-textbox"
              pattern="^[\p{L}\s]+$"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Estado (UF)</td>
          <td>
            <select name="estado" class="textbox cad-textbox" required>
              <option value="" disabled selected>Selecione o estado</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
            </select>
          </td>
        </tr>
        <!-- Botão de Submit -->
        <tr class="tr-titulo-section tr-submit">
          <th colspan="2" class="tb-matricula-th text-center">
            <button type="submit" class="button btn-form-submit">
              Matricular Aluno
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </form>
</main>
{% include 'footer.html' %}
