<form action="?pag=usuario&metodo=consultar" method="POST">

    <div class="controles flex space-between">
        Filtro:
        <input type="text" name="filtro" id="filtro" class="textbox" placeholder="Nome">
        <input type="submit" onclick="buscar()" value="Buscar" class="button weight-bold">
    </div>
    <table cellspacing="0" class="flex flex-column">
        <thead>
            <tr>
                <th colspan="{{max_columns}}">Usuario</th>
            </tr>
            <tr class="row-column-titles">
               
                <td>ID</td>
                <td>Nome</td>
                <td>Email</td>
                <td>Senha</td>
                <td>Data_Nasc</td>
                <td>Logradouro</td>
                <td>Bairro</td>
                <td>Número Endereço</td>
                <td>Complemento</td>
                <td>CEP</td>
                <td>CPF</td>
                <td>RG</td>
                <td>Contato</td>
                <td>Resposanvel</td>
                <td>Padrinho</td>
                 <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {%if usuarios%}
            {%for usuario in usuarios%}
            <tr>

                <td>{{usuario.ID_USER}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.senha}}</td>
                <td>{{usuario.data_nasc}}</td>
                <td>{{usuario.logradouro}}</td>
                <td>{{usuario.bairro}}</td>
                <td>{{usuario.numero_endereco}}</td>
                <td>{{usuario.complemento}}</td>
                <td>{{usuario.cep}}</td>
                <td>{{usuario.cpf}}</td>
                <td>{{usuario.rg}}</td>
                <td>{{usuario.contato}}</td>
                <td>{{usuario.isResponsavel}}</td>
                <td>{{usuario.isPadrinho}}</td>
                <td class="td-button">
                    <form action="?pag=usuario&metodo=excluir" method="POST">
                        <input type="hidden" name="id_usuario" value="{{ usuario.ID_USER }}">
                        <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este usuário?')"
                            class="button">Excluir</button>
                    </form>
                </td>
                <td class="td-button">
                    <form id="formEditarUsuario_{{ usuario.ID_USER }}" method="POST">
                        <input type="hidden" name="id_usuario" value="{{ usuario.ID_USER }}">
                        <button type="button" onclick="editarUsuario('{{ usuario.ID_USER }}')"
                            class="button">Editar</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
            {%else%}
            <tr>
                <td colspan="15" align="center">{{ erro }}</td>
            </tr>
            {%endif%}
        </tbody>
    </table>
</form>