<main class="main-consultar">
	<form action="?pag=padrinho&metodo=consultar" method="POST" class="flex flex-column center">
		<div class="table-wrapper">
			<table cellspacing="0" class="tables data-table tb-consulta flex flex-column">
				<thead>
					<tr class="tr-titulo">
						<th colspan="17">Padrinho</th>
					</tr>
					<tr class="tr-input flex center">
						<td>
							<label for="filtro">Filtro:</label>
						</td>
						<td><input type="text" name="filtro" id="filtro" class="textbox" placeholder="Nome"></td>
						<td><input type="submit" onclick="buscar()" value="Buscar" class="button weight-bold"></td>
					</tr>
					<tr class="row-column-titles tr-consultar">
						<td class="td-button"></td>
						<td class="td-button"></td>
						<td class="td-button"></td>
						<td>ID
							<div class="resize-handle"></div>
						</td>
						<td>Nome
							<div class="resize-handle"></div>
						</td>
						<td>Email
							<div class="resize-handle"></div>
						</td>
						<td>Senha
							<div class="resize-handle"></div>
						</td>
						<td>Data_Nasc
							<div class="resize-handle"></div>
						</td>
						<td>Logradouro
							<div class="resize-handle"></div>
						</td>
						<td>Bairro
							<div class="resize-handle"></div>
						</td>
						<td>Número Endereço
							<div class="resize-handle"></div>
						</td>
						<td>Complemento
							<div class="resize-handle"></div>
						</td>
						<td>CEP
							<div class="resize-handle"></div>
						</td>
						<td>CPF
							<div class="resize-handle"></div>
						</td>
						<td>RG
							<div class="resize-handle"></div>
						</td>
						<td>Contato
							<div class="resize-handle"></div>
						</td>
					</tr>
				</thead>
				<tbody>
					{% if usuarios %}
						{% for usuario in usuarios %}
							<tr>
								<td class="td-button">
									<form action="?pag=padrinho&metodo=index" method="POST">
										<input type="hidden" name="id_padrinho" value="{{ usuario.ID_USER }}">
										<a href="?pag=padrinho&id={{ usuario.ID_USER}}" class="button action-buttons btn-redirect flex center"></a>
									</form>
								</td>
								<td class="td-button">
									<form id="formEditarUsuario_{{ usuario.ID_USER }}" method="POST">
										<input type="hidden" name="id_padrinho" value="{{ usuario.ID_USER }}">
										<button type="button" onclick="editarUsuario('{{ usuario.ID_USER }}')" class="button action-buttons btn-editar"></button>
									</form>
								</td>
								<td class="td-button">
									<form action="?pag=padrinho&metodo=excluir" method="POST">
										<input type="hidden" name="id_padrinho" value="{{ usuario.ID_USER }}">
										<button type="submit" onclick="return confirm('Tem certeza que deseja excluir este usuário?')" class="button action-buttons btn-excluir"></button>
									</form>
								</td>
								<td>{{usuario.ID_USER}}</td>
								<td>{{usuario.nome}}</td>
								<td>{{usuario.email}}</td>
								<td>{{usuario.senha}}</td>
								<td>{{usuario.data_nasc}}</td>
								<td>{{usuario.logradouro}}</td>
								<td>{{usuario.bairro}}</td>
								<td>{{usuario.numero_endereco}}</td>
								<td>{{usuario.complemento}}</td>
								<td>{{usuario.cep}}</td>
								<td>{{usuario.cpf}}</td>
								<td>{{usuario.rg}}</td>
								<td>{{usuario.contato}}</td>
								<td>{{usuario.isPadrinho}}</td>
							</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="15" align="center">{{ erro }}</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</form>
</main>
{% include 'footer.html' %}
