<footer class="flex flex-column">
  <div class="footer-content flex space-evenly">
    <div class="footer-trademark flex flex-column space-between align-center">
      <h3 class="uppercase flex flex-column">
        <span class="sp1 weight-normal">Instituto</span>
        <span class="sp2 weight-normal">Raízes do</span
        ><span class="sp3 weight-bold">Futuro</span>
      </h3>
      <img
        src="/InstitutoRaiz/public/assets/images/png/logo.png"
        alt=""
        class="footer-logo logo"
      />
    </div>
    <hr />
    <div class="footer-sobre flex flex-column justify-center">
      <h4 class="uppercase">Sobre</h4>
      <ul class="footer-links">
        <li>
          <a href="" class="footer-link"
            ><img
              src="/InstitutoRaiz/public/assets/images/vectors/icons/pin-vector.svg"
              alt=""
            />Rua São Carlos, 99 - Parque Paulista, Franco da Rocha, SP</a
          >
        </li>
        <li>
          <a href="" class="footer-link"
            ><img
              src="/InstitutoRaiz/public/assets/images/vectors/icons/telephone-vector.svg"
              alt=""
            />(11) 95394-9869</a
          >
        </li>

        <li>
          <a href="" class="footer-link"
            ><img src="/InstitutoRaiz/public/assets/images/vectors/icons/telephone-vector.svg" alt="" />(11) 91340-3673</a
          >
        </li>
        <li>
          <a href="" class="footer-link"
            ><img
              src="/InstitutoRaiz/public/assets/images/vectors/icons/email-vector.svg"
              alt=""
            />institutoraizesdofuturo56@gmail.com</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-redes flex flex-column justify-center">
      <h4 class="uppercase">Redes</h4>
      <ul class="footer-links">
        <li>
          <a href="https://www.instagram.com/institutoraizesdofuturo/" class="footer-link"
            ><img
              src="/InstitutoRaiz/public/assets/images/vectors/icons/instagram-vector.svg"
              alt=""
            />@institutoraizesdofuturo</a
          >
        </li>

      </ul>
    </div>
  </div>
  <div class="footer-info flex flex-column align-center">
    <p class="footer-text">
      © 2024 Instituto Raíz do Futuro. Todos os direitos reservados.
    </p>
    <div class="footer-right">
      <ul class="footer-links flex flex-row space-between">
        <li><a href="" class="footer-link">Política de Privacidade</a></li>
        <li><a href="" class="footer-link">Termos de Uso</a></li>
        <li><a href="" class="footer-link">Contato</a></li>
      </ul>
    </div>
  </div>
</footer>
