<header class="header-sistema flex flex-column justify-center align-center">
	<div class="header-content flex">
		<div class="logo">
			<a href="#">
				<img src="/InstitutoRaiz/public/assets/images/png/logo.png" alt="Logo do Instituto Raiz do Futuro" class="header-logo logo">
			</a>
		</div>
		<nav class="header-nav flex space-between align-center">
			<ul class="header-links flex flex-row">
				<li>
					<a href="?pag=sistema" class="header-link">Sistema</a>
				</li>
				<li>
					<a href="?pag=usuario&metodo=consultar" class="header-link">Usuario</a>
				</li>
				<li>
					<a href="?pag=aluno&metodo=consultar" class="header-link">Aluno</a>
				</li>
				<li>
					<a href="?pag=frequencia" class="header-link">Frequencia</a>
				</li>
			</ul>
		</nav>
		<div class="header-interactive flex center relative">
			<a href="?pag=autenticar" class="button homepage-buttons btn-entrar flex center">Entrar</a>
		</div>
	</div>
</header>
