{% include 'header.html' %}
<main class="main-home center">
    <section class="sections flex space-between" id="sc1">
        <div class="sc1-content-left flex flex-column space-around align-center">
            <div class="sc1-text-content flex flex-column">
                <h2 class="sc1-text-content-title uppercase montserrat">Instituto<br>Raíz do Futuro</h2>
                <p class="sc1-text-content-p uppercase montserrat">
                    Um lugar que possibilita oportunidades,<br>
                    Que desenvolve chances,<br>
                    e que garante esperança à infância
                </p>
            </div>
            <div class="sc1-interactive">
                <a href="?pag=matricula&metodo=cadastrar"
                    class="button homepage-buttons btn-matricula italic weight-semi-bold flex center">Matrícule-se</a>
            </div>
        </div>
        <div class="sc1-content-right">
            <img src="/InstitutoRaiz/public/assets/images/png/Banner.png" alt="" class="sc1-banner">
        </div>
    </section>
    <section class="sections flex center" id="sc2">
        <div class="sc2-content-layout flex flex-column space-around align-center">
            <h2 class="sc2-title uppercase montserrat">Quem somos</h2>
            <div class="sc2-content flex">
                <div class="sc2-text-content">
                    <p class="sc2-text-content-p montserrat weight-bold">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                        urna.
                        Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas
                        vitae
                        mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
                        interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque
                        commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat
                        placerat. In iaculis arcu eros, eget tempus orci facilisis id. Praesent lorem orci, mattis non
                        efficitur id, ultricies vel nibh. Sed volutpat lacus vitae gravida viverra. Fusce vel tempor
                        elit.
                        Proin tempus,.
                    </p>
                </div>
                <div class="sc2-image-content">
                    <div class="sc2-image-carousel">
                        <div class="sc2-carousel-items flex">
                            <div class="sc2-carousel-item active">
                                <img src="/InstitutoRaiz/public/assets/images/png/image-carrousel_1.png" alt="">
                            </div>
                            <div class="sc2-carousel-item">
                                <img src="/InstitutoRaiz/public/assets/images/png/image-carrousel_2.png" alt="">
                            </div>
                            <div class="sc2-carousel-item">
                                <img src="/InstitutoRaiz/public/assets/images/png/image-carrousel_3.png" alt="">
                            </div>
                        </div>
                        <div class="sc2-progress-bar flex space-between">
                            <div class="progress-item" id="progress0"></div>
                            <div class="progress-item" id="progress1"></div>
                            <div class="progress-item" id="progress2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sections flex center" id="sc3">
        <div class="sc3-content flex flex-column center">
            <h2 class="sc3-title uppercase montserrat">Como se voluntariar?</h2>
            <div class="sc3-text-content">
                <p class="sc3-text-content-p montserrat weight-bold">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae
                    mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
                    interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque
                    commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat
                    placerat. In iaculis arcu eros, eget tempus orci facilisis id. Praesent lorem orci, mattis non
                    efficitur id, ultricies vel nibh. Sed volutpat lacus vitae gravida viverra. Fusce vel tempor elit.
                    Proin tempus,.
                </p>
            </div>
            <div class="sc3-interactive">
                <a href="" class="button homepage-buttons btn-sobre weight-semi-bold flex center">Mais Sobre</a>
            </div>
        </div>
    </section>
    <section class="sections flex center" id="sc4">
        <div class="sc4-content flex flex-column center">
            <h2 class="sc4-title uppercase montserrat">O que é Apadrinhamento?</h2>
            <div class="sc4-text-content">
                <p class="sc4-text-content-p montserrat weight-bold">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae
                    mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
                    interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque
                    commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat
                    placerat. In iaculis arcu eros, eget tempus orci facilisis id. Praesent lorem orci, mattis non
                    efficitur id, ultricies vel nibh. Sed volutpat lacus vitae gravida viverra. Fusce vel tempor elit.
                    Proin tempus,.
                </p>
            </div>
            <div class="sc4-interactive">
                <a href="" class="button homepage-buttons btn-apadrinhar weight-semi-bold flex center">Apadrinhar</a>
            </div>
        </div>
    </section>
</main>
{% include 'footer.html' %}