<main class="main-consultar">
	<form id="frequenciaForm" action="?pag=frequencia&metodo=marcarPresenca" method="POST" class="flex flex-column center gap-2">
		<div class="table-wrapper flex flex-column center">
			<table cellspacing="0" class="tables data-table tb-consulta flex flex-column">
				<thead>
					<tr class="tr-titulo">
						<th colspan="{{mesQtdDia + 2}}">Marcar Presença</th>
					</tr>
					<tr class="row-column-titles row-interactive">
						<td>Professor: {{session.user.nome}} </td>

						<td class="flex center gap-1">
							<label for="ID_TURMA">Turma:</label>
							<select id="ID_TURMA" name="ID_TURMA" onchange="selectTurmaInputMP()" class="textbox select turma-select" required>
								<option value="" {% if id_turma is null %} selected {% endif %}>Selecione a Turma</option>
								{% for turma in turmas %}
									<option value="{{turma.ID_TURMA}}" {% if id_turma==turma.ID_TURMA %} selected {% endif %}>
										{{turma.nome_turma}}</option>
								{% endfor %}
							</select>
						</td>
						<td>
							<fieldset class="fieldset-filtro-frequencia flex space-around align-center gap-1">
								<form id="filtroForm" method="POST">
									<input type="radio" id="filtroRadioHoje" name="filtroRadio" value="d" onchange="toggleDateInput();setDataTable({{dataFrequenciaObject}});">
									<label for="filtroRadioHoje">Dia</label>
									<input type="date" id="dateInput" name="data" class="textbox" onchange="setDataTable({{dataFrequenciaObject}})" style="display: none;">
									<input type="radio" id="filtroRadioMes" name="filtroRadio" value="m" onchange="toggleDateInput();setDataTable({{dataFrequenciaObject}});" checked>
									<label for="filtroRadioMes">Mês todo</label>
									<button type="submit" class="button">Buscar</button>
								</form>
							</fieldset>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr class="row-column-titles row-columns tr-consultar-id">
						<td>ID
							<div class="resize-handle"></div>
						</td>
						<td>Aluno
							<div class="resize-handle"></div>
						</td>
						{% if diaSelecionado %}
							{% for dia in range(1, mesQtdDia) %}
								<td>
									{{ dia }}
									<div class="resize-handle"></div>
								</td>
							{% endfor %}
						{% endif %}
					</tr>
					{% if alunos is not empty %}
						{% for aluno in alunos %}
							<tr>
								<td>{{ aluno.ID_ALUNO }}</td>
								<td>{{ aluno.nome }}</td>
								{% for dia in range(1, mesQtdDia) %}
									{% set presenca = '( N/A )' %}
									{% for frequencia in frequencias %}
										{% if frequencia.ID_ALUNO == aluno.ID_ALUNO and frequencia.data_aula|date('d') == dia %}
											{% set presenca = frequencia.presenca %}
										{% endif %}
									{% endfor %}
									<td>
										<select name="presenca[{{ aluno.ID_ALUNO }}][{{ dia }}]" class="textbox" {% if presenca == 'P' or presenca == 'F'%} disabled {% endif %}>
											<option value="" {% if presenca is null or presenca == "" %} selected {% endif %}>N/A</option>
											<option value="P" {% if presenca == 'P' %} selected {% endif %}>Presente</option>
											<option value="F" {% if presenca == 'F' %} selected {% endif %}>Falta</option>
										</select>
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="{{ mesQtdDia + 2 }}">Selecione uma turma para ver os alunos</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		{% if alunos is not empty %}
			<button type="submit" class="button btn-save-form">Salvar Presença</button>
		{% endif %}
	</form>
</main>
