{% include 'header_sistema.html' %}
<main class="main-sistema flex flex-column center">
  <h1>{{titulo}}</h1>
  <menu class="flex flex-column center gap-3">
    <div class="cards-container">
      <div class="card-wrapper flex space-evenly wrap gap-2">
        <a
          href="?pag=padrinho&metodo=cadastrar"
          class="card flex flex-column space-evenly align-center"
          id="card-1"
        >
          <div class="card-image">
            <img
              src="/InstitutoRaiz/public/assets/images/vectors/icons/user-plus-vector.svg"
              alt=""
            />
          </div>
          <div class="card-content">
            <b>Cadastrar Padrinho</b>
          </div>
        </a>
        <a
          href="?pag=padrinho&metodo=consultar"
          class="card flex flex-column space-evenly align-center"
          id="card-1"
        >
          <div class="card-image">
            <img
              src="/InstitutoRaiz/public/assets/images/vectors/icons/search-vector.svg"
              alt=""
            />
          </div>
          <div class="card-content">
            <b class="">Consultar Padrinho</b>
          </div>
        </a>
        <a
          href="?pag=sistema&metodo=redirectPag&titulo=Editar%20Padrinho&redirecionar=editar_padrinho"
          class="card flex flex-column space-evenly align-center"
          id="card-1"
        >
          <div class="card-image">
            <img
              src="/InstitutoRaiz/public/assets/images/vectors/icons/user-pen-vector.svg"
              alt=""
            />
          </div>
          <div class="card-content">
            <b class="">Editar Padrinho</b>
          </div>
        </a>
      </div>
    </div>
  </menu>
</main>
{% include 'footer.html' %}
