<ul>
    <li><a href="?pag=usuario&metodo=cadastrar">Matrícula</a></li>
    <li><a href="?pag=usuario&metodo=cadastrar">Cadastrar Usuario</a></li>
    <li><a href="?pag=usuario&metodo=consultar">Consultar Usuario</a></li>
    <li><a href="?pag=padrinho&metodo=cadastrar">Cadastrar Padrinho</a></li>
    <li><a href="?pag=padrinho&metodo=consultar">Consultar Padrinho</a></li>
    <li><a href="?pag=aluno&metodo=cadastrar">Cadastrar Aluno</a></li>
    <li><a href="?pag=aluno&metodo=consultar">Consultar Aluno</a></li>
    <li><a href="?pag=aluno&metodo=consultar">Consultar Aluno</a></li>
    <li><a href="?pag=frequencia&metodo=index">Frequencia</a></li>
</ul>