<style>
    td,th{
        border: 1px solid black;
    }
    table{
        background-color: aliceblue;
    }
</style>

<table cellspacing="0">
    <tr>
        <th colspan="">Usuario</th>
        
    </tr>
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Email</td>
        <td>Senha</td>
        <td>Data_Nasc</td>
        <td>Logradouro</td>
        <td>Bairro</td>
        <td>Número Endereço</td>
        <td>Complemento</td>
        <td>CEP</td>
        <td>CPF</td>
        <td>RG</td>
        <td>Contato</td>
        <td>Resposanvel</td>
        <td>Padrinho</td>
    </tr>
    <tr>
        <td>{{usuarios.ID_USER}}</td></tr>
        <td>{{usuarios.nome}}</td>
        <td>{{usuarios.email}}</td>
        <td>{{usuarios.senha}}</td>
        <td>{{usuarios.data_nasc}}</td>
        <td>{{usuarios.logradouro}}</td>
        <td>{{usuarios.bairro}}</td>
        <td>{{usuarios.numero_endereco}}</td>
        <td>{{usuarios.complemento}}</td>
        <td>{{usuarios.cep}}</td>
        <td>{{usuarios.cpf}}</td>
        <td>{{usuarios.rg}}</td>
        <td>{{usuarios.contato}}</td>
        <td>{{usuarios.isResponsavel}}</td>
        <td>{{usuarios.isPadrinho}}</td>
    </tr>
</table>