<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo </title>
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/fonts.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/styles.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/components.css">
    
</head>
<body>
    <div id="corpo">
    {{area_dinamica|raw}}
    </div>
    <script src="public/assets/js/filtro.js"></script>
    <script src="public/assets/js/editarUsuario.js"></script>
</body>
</html>