<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}} </title>
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/fonts.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/variables.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/styles.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/components.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/header.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/footer.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/home.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/cadastrar.css">
    <link rel="stylesheet" href="/InstitutoRaiz/public/assets/css/consultar.css">
    
</head>
<body>
    {{area_dinamica|raw}}
    <script src="public/assets/js/filtro.js"></script>
    <script src="public/assets/js/actionEditar.js"></script>
    <script src="public/assets/js/redirecionarPorID.js"></script>
    <script src="public/assets/js/toggleResponsavel.js"></script>
    <script src="public/assets/js/headerSectionWidth.js"></script>
    <script src="public/assets/js/pageNavegation.js"></script>
    <script src="public/assets/js/imageCarousel.js"></script>
    <script src="public/assets/js/DataTableResizer.js"></script>
    
</body>
</html>