/* keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-out-left {
  100% {
    transform: translateX(-50%);
  }
  0% {
    transform: translateX(0%);
  }
}
@keyframes slide-out-right {
  100% {
    transform: translateX(50%);
  }
  0% {
    transform: translateX(0%);
  }
}
@keyframes hover-expand-radius {
  100% {
    -webkit-box-shadow: 0 0 0 13px rgba(216 216 216 / 20%);
    -moz-box-shadow: 0 0 0 13px rgba(216 216 216 / 20%);
    box-shadow: 0 0 0 13px rgba(216 216 216 / 20%);
  }
  0% {
    -webkit-box-shadow: var(--box-shadow-1);
    -moz-box-shadow: var(--box-shadow-1);
    box-shadow: var(--box-shadow-1);
  }
}
@keyframes grow-bottom {
  0% {
    height: 100px;
  }
  100% {
    height: 200px;
  }
}

/* applying */

.fade-in {
  animation: fade-in 0.3s forwards;
}
.fade-out {
  animation: fade-out 0.3s forwards;
}

.slide-in-right {
  animation: slide-in-right 0.5s forwards;
}

.slide-out-right {
  animation: slide-in-right 0.5s forwards;
}
.slide-in-left {
  animation: slide-in-left 0.5s forwards;
}

.slide-out-left {
  animation: slide-in-left 0.5s forwards;
}
.progress-bar-in-right {
  animation: 
  slide-in-right 0.5s forwards,
  fade-in 0.3s forwards;
}

.progress-bar-out-left {
  animation: 
  slide-out-left 0.5s forwards,
  fade-out 0.3s forwards;
}

.sidebar::backdrop {
  opacity: 0;
}
.sidebar[open] {
  animation: slide-in-left 300ms forwards, fade-in 300ms forwards;
}
.sidebar[open]::backdrop {
  animation: fade-in 500ms forwards;
}
.sidebar[closing] {
  display: block;
  pointer-events: none;
  animation: slide-out-right 300ms forwards, fade-out 300ms forwards;
}
.sidebar[closing]::backdrop {
  animation: fade-out 300ms forwards;
}

.content-text details[open] {
  animation: fade-in 300ms forwards;
}
