.tb-matricula {
  width: 600px;
  }
.tb-matricula td {
  box-sizing: border-box;
  font-size: var(--font-clamp-1);
  padding: 0.5em 1em;
  width: 100%;
}
.tb-matricula tr:not(.tr-submit, .tr-titulo,.tr-titulo-section) {
  border-inline: 1px solid #1f2926;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}


/*  */
.tb-matricula th {
  font-size: calc(var(--font-clamp-2) - 0.5rem);
}
.td-submit {
  width: 100%;
  padding: var(--rem-1-half) 0 !important;
}

/* inputs */



/* text */
.cad-textbox {
  width: calc(100% - 4px - 1em);
  font-size: var(--font-clamp-1);
}
