input[type="text"] {
  border: 1px solid blue;
}
<<<<<<< Updated upstream
td,
=======
.textbox:hover {
  background-color: #e4e4e4;
}
.textbox:is(:focus, :focus-visible) {
  outline: none;
  /* border: 2px solid #757575 ; */
  box-shadow: #338bf8 1px 1px 0px 2px;
}
/* anchors */
:is(a,svg):is(:link,:hover,:active){
  transition: .3s;
}
:is(a,svg):hover{
  text-shadow: var(--text-shadow-1);
}

/* buttons */
.button {
  background-color: var(--btn-default-enabled);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: var(--radius--3);
  box-sizing: border-box;
  padding: 5px 15px 5px 15px;
}
.button:hover {
  background-color: var(--btn-default-hover);
}
.button:active {
  background-color: var(--btn-default-pressed);
}
/* homepage-buttons */
.homepage-buttons{
  border-radius: var(--radius-0);
  text-transform: uppercase;
  height: var(--rem-3);
  width: 12.313rem;
  font-size: var(--font-clamp-1);
  box-shadow: var(--box-shadow-1);
}
/* btn-entrar */
.btn-entrar{
  background-color: var(--btn-entrar-enabled);
}
.btn-entrar:hover{
  background-color: var(--btn-entrar-hover);
}
.btn-entrar:active{
  background-color: var(--btn-entrar-pressed);
}

/* btn-matricula */
.btn-matricula{
  background-color: var(--btn-matricula-enabled);
  aspect-ratio: 1/3;
  width: 12.313em;
  height: var(--rem-4);
}
.btn-matricula:hover{
  background-color: var(--btn-matricula-hover);
}
.btn-matricula:active{
  background-color: var(--btn-matricula-pressed);
}

/* btn-sobre */
.btn-sobre{
  background-color: var(--btn-sobre-enabled);
  color: var(--cor-13);
  aspect-ratio: 1/3;
  width: 8em;
  height: var(--rem-4);
}
.btn-sobre:hover{
  background-color: var(--btn-sobre-hover);
  color: var(--cor-12);
}
.btn-sobre:active{
  background-color: var(--btn-sobre-pressed);
  color: var(--cor-12);
}

/* btn-apadrinhar */
.btn-apadrinhar{
  background-color: var(--btn-apadrinhar-enabled);
  color: var(--cor-12);
  aspect-ratio: 1/3;
  width: 10em;
  height: var(--rem-4);
}
.btn-apadrinhar:hover{
  background-color: var(--btn-apadrinhar-hover);
}
.btn-apadrinhar:active{
  background-color: var(--btn-apadrinhar-pressed);
}

/* td,
>>>>>>> Stashed changes
th {
  border: 1px solid black;
}
table {
<<<<<<< Updated upstream
  background-color: aliceblue;
=======
  background-color: #ffffff;
  border-collapse: collapse;
  max-width: 70vw;
}
tbody tr {
  border-bottom: 0.2em solid #1f2926;
}
.row-column-titles > td:not(:last-child, :nth-last-child(2)) {
  background-color: #1c1c1c;
  border: none;
  color: #fff;
}
.row-column-titles > td:not(:last-child, :last-child) {
  border-right: 0.2em solid #fff;
  text-align: center;
}
td:not(.td-button) {
  width: max-content;
>>>>>>> Stashed changes
}
