/* inputs */

/* textbox */
.textbox {
  background-color: #fafafa;
  border: none;
  box-shadow: #8c8c8c 1px 1px 0px 2px;
  border-radius: var(--radius-0);
  width: 200px;
  height: 30px;
  padding: 2px 10px 2px 10px;
}
.textbox:hover {
  background-color: #f0f0f0;
}
.textbox:is(:focus, :focus-visible) {
  outline: none;
  /* border: 2px solid #757575 ; */
  box-shadow: #338bf8 1px 1px 0px 2px;
}
/* .textbox:required:focus{
  box-shadow: rgb(248, 51, 64) 1px 1px 0px 2px;
} */

/* anchors */
:is(a, svg):is(:link, :hover, :active) {
  transition: 0.3s;
}
:is(a, svg):hover {
  text-shadow: var(--text-shadow-1);
}
.no-style-link {
  text-decoration: none;
  font-size: var(--font-clamp-1);
  color: unset;
}
.no-style-link.underline {
  text-decoration: underline;
}
.no-style-link:hover {
  text-decoration: underline;
  text-shadow: none;
}

/* buttons */
.button {
  background-color: var(--btn-default-enabled);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #000;
  border: none;
  border-radius: var(--radius-0);
  box-sizing: border-box;
  box-shadow: var(--box-shadow-1);
  padding: 5px 15px 5px 15px;
  transition: .2s;
}
.button:hover {
  background-color: var(--btn-default-hover);
}
.button:active {
  background-color: var(--btn-default-pressed);
}
/* homepage-buttons */
.homepage-buttons {
  text-transform: uppercase;
  color: #fff;
  height: var(--rem-3);
  width: 12.313rem;
  font-size: var(--font-clamp-1);
}

/*action-buttons*/
.action-buttons {
  width: 48px;
  height: 36px;
  color: #000;
  background-size: 30px !important;
  box-shadow: var(--box-shadow-2);
  margin: 3px 0;
}
/*btn-redirect*/
.btn-redirect {
  background: url("/InstitutoRaiz/public/assets/images/vectors/icons/redirect-icon.svg")
    center/contain no-repeat;
}
/*btn-excluir*/
.btn-excluir {
  background: var(--cor-20)
    url("/InstitutoRaiz/public/assets/images/vectors/icons/delete-vector.svg")
    center/contain no-repeat;
}
/*btn-editar*/
.btn-editar {
  background: url("/InstitutoRaiz/public/assets/images/vectors/icons/edit-vector.svg")
    center/contain no-repeat;
}
/*btn-relationship*/
.btn-relationship {
  background: url("/InstitutoRaiz/public/assets/images/vectors/icons/down-arrow-vector.svg")
    center/contain no-repeat;
}
/*btn-link-relationship*/
.btn-link-relationship {
  background: url("/InstitutoRaiz/public/assets/images/vectors/icons/arrow-subdirectory.svg")
    center/contain no-repeat;
  box-shadow: unset;
}

/* btn-fechar-modal */
.btn-fechar-modal {
  background-color: var(--btn-fechar-modal-enabled);
  color: #fff;
  width: 6em;
}
.btn-fechar-modal:hover {
  background-color: var(--btn-fechar-modal-hover);
}
.btn-fechar-modal:active {
  background-color: var(--btn-fechar-modal-pressed);
}
/* btn-entrar */
.btn-entrar {
  background-color: var(--btn-entrar-enabled);
}
.btn-entrar:hover {
  background-color: var(--btn-entrar-hover);
}
.btn-entrar:active {
  background-color: var(--btn-entrar-pressed);
}

/* btn-matricula */
.btn-matricula {
  background-color: var(--btn-matricula-enabled);
  aspect-ratio: 1/3;
  width: 12.313em;
  height: var(--rem-4);
}
.btn-matricula:hover {
  background-color: var(--btn-matricula-hover);
}
.btn-matricula:active {
  background-color: var(--btn-matricula-pressed);
}
/* btn-form-submit */
.btn-form-submit {
  background-color: var(--btn-form-submit-enabled);
  color: #fff;
  aspect-ratio: 1/3;
  font-size: var(--font-clamp-1);
  padding: var(--rem-1) var(--rem-2);
  width: 12.313em;
  height: var(--rem-4);
  border-radius: var(--radius-0);
}
.btn-form-submit:hover {
  background-color: var(--btn-form-submit-hover);
}
.btn-form-submit:active {
  background-color: var(--btn-form-submit-pressed);
}

/* btn-sobre */
.btn-sobre {
  background-color: var(--btn-sobre-enabled);
  color: var(--cor-13);
  aspect-ratio: 1/3;
  width: 8em;
  height: var(--rem-4);
}
.btn-sobre:hover {
  background-color: var(--btn-sobre-hover);
  color: var(--cor-12);
}
.btn-sobre:active {
  background-color: var(--btn-sobre-pressed);
  color: var(--cor-12);
}

/* btn-apadrinhar */
.btn-apadrinhar {
  background-color: var(--btn-apadrinhar-enabled);
  color: var(--cor-12);
  aspect-ratio: 1/3;
  width: 10em;
  height: var(--rem-4);
}
.btn-apadrinhar:hover {
  background-color: var(--btn-apadrinhar-hover);
}
.btn-apadrinhar:active {
  background-color: var(--btn-apadrinhar-pressed);
}
/* input image */
.profile-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* tabelas */
.tables {
  /* background-color: #ffffff; */
  border-collapse: collapse;
  width: 100%;
}
.table-wrapper {
  max-width: 80dvw;
  overflow-x: auto;
  border-top-left-radius: var(--radius-1);
  border-top-right-radius: var(--radius-1);
  box-shadow: var(--box-shadow-1);
}
.tb-matricula thead tr:first-of-type > th:first-of-type {
  border-top-left-radius: var(--radius-1);
  border-top-right-radius: var(--radius-1);
}
.tables thead {
  width: 100%;
  background-color: var(--cor-5);
  color: var(--cor-12);
}
.tables thead tr {
  width: 100%;
}
.tables th {
  max-width: 100%;
  background-color: var(--cor-21);
  color: #fff;
  overflow: unset;
  padding: 1em 0;
}

.tr-input td {
  padding: var(--rem-1);
}
.tables td {
  display: flex;
  align-items: center;
}
.tables td,
th,
input,
button,
label {
  font-size: var(--font-clamp-2);
}

.tables th,
td:not(.td-button) {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: var(--em--3);
  width: auto;
}

.tb-frequencia.tr-titulo {
  justify-content: start !important;
}
.tables tbody tr:not(.tr-submit, .data-table tr) {
  border-bottom: 0.2em solid #1f2926;
}
.data-table tbody td {
  border-bottom: 0.2rem solid #1f2926;
}
.row-column-titles td {
  background-color: var(--cor-5);
}
.row-column-titles > td {
  display: flex;
  align-items: center;
  color: #fff;
  white-space: wrap;
}
.row-interactive > td {
  min-width: 100%;
  max-width: none !important;
}
.td-ID {
  min-width: 3ch !important;
}
.td-button {
  display: flex;
  min-width: calc(var(--actBtn-x-size) - 5px) !important;
  max-width: 100px !important;
  justify-content: center;
  position: sticky;
}

.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--em--3);
  cursor: col-resize;
  background-color: #fff;
}

.resize-handle:hover {
  background-color: #ccc;
}

.icon {
  aspect-ratio: 1/1;
  max-width: 32px;
}

/* modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50ch;
  border: none;
  border-top-left-radius: var(--radius-1);
  border-top-right-radius: var(--radius-1);
  box-shadow: var(--box-shadow-1);
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
}
.modal-header{
  background-color: var(--cor-21);
  color: #fff;
  padding: 1rem 0;
}
.modal-content{
  padding: 1rem;
  gap: 1em;
}
/* modal tipo erro */
.modal-type-error .modal-header{
  background-color: var(--cor-20) !important;
}

/* sidebar */
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  z-index: 2;
  border: none;
  width: 30dvw;

  background-color: var(--cor-3);
}
.sidebar::backdrop{
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.menu-sidebar{
  list-style: none;
}