/* inputs */

/* textbox */
.textbox {
  background-color: #fafafa;
  border: none;

  -webkit-box-shadow: #8c8c8c 1px 1px 0px 2px;
  -moz-box-shadow: #8c8c8c 1px 1px 0px 2px;
  box-shadow: #8c8c8c 1px 1px 0px 2px;

  border-radius: var(--radius-0);
  width: 200px;
  height: 30px;
  padding: 2px 10px 2px 10px;
}
.textbox:hover {
  background-color: #f0f0f0;
}
.textbox:is(:focus, :focus-visible, :hover) {
  outline: none;
  /* border: 2px solid #757575 ; */
  -webkit-box-shadow: #338bf8 1px 1px 0px 2px;
  -moz-box-shadow: #338bf8 1px 1px 0px 2px;
  box-shadow: #338bf8 1px 1px 0px 2px;
}

td:has(.error-span){
  display: flex;
  flex-direction: column;
  align-items: start !important;
  gap: .5rem;
  color:#f83340;
}
.error-span{
  font-size: var(--font-clamp-0) !important;
  text-wrap: wrap;
  max-width: 50ch;
}
.homepage-textbox {
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-1);
  font-size: var(--font-clamp-1);
  padding: 0.8rem;
  max-width: 40ch;
  max-height: 20ch;
  width: 100%;
}
.turma-select {
  max-width: 12ch;
}
.larger-textarea {
  width: 100%;
  min-height: 10ch;
}


.senha-eye-icon {
  top: 100%;
  left: 98%;
  width: 28px;
  aspect-ratio: 1/1;
  transform: translateX(-100%) translateY(-100%);
  background-size: contain;
}
.senha-eye-icon.senha-icon-open {
  background-image: url("/InstitutoRaiz/public/assets/images/vectors/icons/pass-eye-open-vector.svg");
}
.senha-eye-icon.senha-icon-close {
  background-image: url("/InstitutoRaiz/public/assets/images/vectors/icons/pass-eye-close-vector.svg");
}

/* anchors */
:is(a, svg):is(:link, :hover, :active) {
  transition: 0.3s;
}
:is(a, svg):hover {
  text-shadow: var(--text-shadow-1);
}
.no-style-link {
  text-decoration: none;
  font-size: var(--font-clamp-1);
  color: unset;
}
.no-style-link.underline {
  text-decoration: underline;
}
.no-style-link:hover {
  text-decoration: underline;
  text-shadow: none;
}

/* buttons */
.button {
  background-color: var(--btn-default-enabled);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #000;
  border: none;
  border-radius: var(--radius-0);
  box-sizing: border-box;
  -webkit-box-shadow: var(--box-shadow-1);
  -moz-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
  padding: 5px 15px 5px 15px;
  transition: 0.2s;
}
.button:hover {
  background-color: var(--btn-default-hover);
}
.button:active {
  background-color: var(--btn-default-pressed);
}
/* homepage-buttons */
.homepage-buttons {
  text-transform: uppercase;
  color: #fff;
  height: var(--rem-3);
  width: 12.313rem;
  font-size: var(--font-clamp-1);
}

/*action-buttons*/
.action-buttons {
  width: 48px;
  height: 36px;
  color: #000;
  background-size: 30px !important;
  -webkit-box-shadow: var(--box-shadow-2);
  -moz-box-shadow: var(--box-shadow-2);
  box-shadow: var(--box-shadow-2);
  margin: 3px 0;
}
/*btn-redirect*/
.btn-redirect {
  background: url("/InstitutoRaiz/public/assets/images/vectors/icons/redirect-icon.svg")
    center/contain no-repeat;
}
/*btn-aprovar*/
.btn-aprovar {
  background: #11ae2c
    url("/InstitutoRaiz/public/assets/images/vectors/icons/check-vector.svg")
    center/contain no-repeat;
}
/*btn-reprovar*/
.btn-reprovar {
  background: var(--cor-20)
    url("/InstitutoRaiz/public/assets/images/vectors/icons/close-vector.svg")
    center/contain no-repeat;
}
/*btn-excluir*/
.btn-excluir {
  background: var(--cor-20)
    url("/InstitutoRaiz/public/assets/images/vectors/icons/delete-vector.svg")
    center/contain no-repeat;
}
/*btn-editar*/
.btn-editar {
  background: url("/InstitutoRaiz/public/assets/images/vectors/icons/edit-vector.svg")
    center/contain no-repeat;
}
/*btn-relationship*/
.btn-relationship {
  background: url("/InstitutoRaiz/public/assets/images/vectors/icons/down-arrow-vector.svg")
    center/contain no-repeat;
}
/*btn-link-relationship*/
.btn-link-relationship {
  background: url("/InstitutoRaiz/public/assets/images/vectors/icons/arrow-subdirectory.svg")
    center/contain no-repeat;
  box-shadow: unset;
}

/*btn-input-image*/
.btn-input-image {
  background-color: var(--cor-14);
  color: #fff;
  font-size: var(--font-clamp-0);
  padding: 0.7rem 1rem;
  gap: 5px;
  border-radius: 1rem;
  background-position-x: 95%;
}
.btn-input-image > svg > path {
  fill: var(--cor-6);
}
.btn-input-image:hover > svg > path {
  fill: var(--cor-18);
  transition: 0.2s;
}
.btn-input-image:hover {
  color: var(--cor-18);
}

/* btn-fechar-modal */
.btn-fechar-modal {
  background-color: var(--btn-fechar-modal-enabled);
  color: #fff;
  width: 6em;
}
.btn-fechar-modal:hover {
  background-color: var(--btn-fechar-modal-hover);
}
.btn-fechar-modal:active {
  background-color: var(--btn-fechar-modal-pressed);
}

/* btn-entrar */
.btn-entrar {
  background-color: var(--btn-entrar-enabled);
}
.btn-entrar:hover {
  background-color: var(--btn-entrar-hover);
}
.btn-entrar:active {
  background-color: var(--btn-entrar-pressed);
}

/* btn-sair */
.btn-sair {
  background-color: var(--btn-sair-enabled);
}
.btn-sair:hover {
  background-color: var(--btn-sair-hover);
}
.btn-sair:active {
  background-color: var(--btn-sair-pressed);
}

/* btn-matricula */
.btn-matricula {
  background-color: var(--btn-matricula-enabled);
  aspect-ratio: 1/3;
  width: 12.313em;
  height: var(--rem-4);
}
.btn-matricula:hover {
  background-color: var(--btn-matricula-hover);
}
.btn-matricula:active {
  background-color: var(--btn-matricula-pressed);
}
/* btn-form-submit */
.btn-form-submit {
  background-color: var(--btn-form-submit-enabled);
  color: #fff;
  aspect-ratio: 1/3;
  font-size: var(--font-clamp-1);
  padding: var(--rem-1) var(--rem-2);
  width: 12.313em;
  height: var(--rem-4);
  border-radius: var(--radius-0);
}
.btn-form-submit:hover {
  background-color: var(--btn-form-submit-hover);
}
.btn-form-submit:active {
  background-color: var(--btn-form-submit-pressed);
}

/* btn-sobre */
.btn-sobre {
  background-color: var(--btn-sobre-enabled);
  color: var(--cor-13);
  aspect-ratio: 1/3;
  width: 8em;
  height: var(--rem-4);
}
.btn-sobre:hover {
  background-color: var(--btn-sobre-hover);
  color: var(--cor-12);
}
.btn-sobre:active {
  background-color: var(--btn-sobre-pressed);
  color: var(--cor-12);
}

/* btn-apadrinhar */
.btn-apadrinhar {
  background-color: var(--btn-apadrinhar-enabled);
  color: var(--cor-12);
  aspect-ratio: 1/3;
  width: 10em;
  height: var(--rem-4);
}
.btn-apadrinhar:hover {
  background-color: var(--btn-apadrinhar-hover);
}
.btn-apadrinhar:active {
  background-color: var(--btn-apadrinhar-pressed);
}
/* btn-save-form */
.btn-save-form {
  background-color: var(--btn-save-form-enabled);
  color: var(--cor-12);
  aspect-ratio: 1/3;
  width: 10em;
  height: var(--rem-4);
}
.btn-save-form:hover {
  background-color: var(--btn-save-form-hover);
}
.btn-save-form:active {
  background-color: var(--btn-save-form-pressed);
}

/* .sidebar buttons */
.open-sidebar-profile-button {
  width: 78px;
  border: none;
  cursor: pointer;
  background-color: unset;
  box-shadow: unset;
}

.open-sidebar-profile-img:hover {
  animation: hover-expand-radius 300ms forwards;
}

/* input image */
.profile-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.open-sidebar-profile-img {
  width: inherit;
  -webkit-box-shadow: var(--box-shadow-1);
  -moz-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}

/* tabelas */
.tables {
  /* background-color: #ffffff; */
  border-collapse: collapse;
  width: 100%;
}
.table-wrapper {
  max-width: 80dvw;
  overflow-x: auto;
  border-top-left-radius: var(--radius-1);
  border-top-right-radius: var(--radius-1);
  -webkit-box-shadow: var(--box-shadow-1);
  -moz-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}
.tb-matricula thead tr:first-of-type > th:first-of-type {
  border-top-left-radius: var(--radius-1);
  border-top-right-radius: var(--radius-1);
}
.tables thead {
  width: 100%;
  background-color: var(--cor-5);
  color: var(--cor-12);
}
.tables thead tr {
  width: 100%;
}
.tables th {
  max-width: 100%;
  background-color: var(--cor-21);
  color: #fff;
  overflow: unset;
  padding: 1em 0;
}

.tr-input td {
  padding: var(--rem-1);
}
.tables td {
  display: flex;
  align-items: center;
}
.tables td,
th,
input,
button,
label {
  font-size: var(--font-clamp-2);
}

.tables th,
td:not(.td-button) {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: var(--em--3);
  width: auto;
}

.tb-frequencia.tr-titulo {
  justify-content: start !important;
}
.tables tbody tr:not(.tr-submit, .data-table tr) {
  border-bottom: 0.2em solid #1f2926;
}
.data-table tbody td {
  border-bottom: 0.2rem solid #1f2926;
}
.row-column-titles td {
  background-color: var(--cor-5);
}
.row-column-titles > td {
  display: flex;
  align-items: center;
  color: #fff;
  white-space: wrap;
}
.row-interactive > td {
  min-width: 100%;
  max-width: none !important;
}
.row-interactive {
  padding: 1em 2em;
}
.td-ID {
  min-width: 3ch !important;
}
.td-button {
  display: flex;
  /* min-width: calc(var(--actBtn-x-size) - 5px) !important; */
  max-width: 100px !important;
  justify-content: space-evenly;
  position: sticky;
}

.fieldset-filtro-frequencia {
  border: none;
}

.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--em--3);
  cursor: col-resize;
  background-color: #fff;
}

.resize-handle:hover {
  background-color: #ccc;
}

.icon {
  aspect-ratio: 1/1;
  max-width: 32px;
}

/* modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50ch;
  border: none;
  border-top-left-radius: var(--radius-1);
  border-top-right-radius: var(--radius-1);
  -webkit-box-shadow: var(--box-shadow-1);
  -moz-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
}
.modal-header {
  background-color: var(--cor-21);
  color: #fff;
  padding: 1rem 0;
}
.modal-content {
  padding: 1rem;
  gap: 1em;
}
/* modal tipo erro */
.modal-type-error .modal-header {
  background-color: var(--cor-20) !important;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: calc(100% - 35dvw);
  height: 100dvh;
  z-index: 2;
  border: none;
  width: 35dvw;
  overflow: unset;
  background-color: var(--cor-2);
}
.sidebar::backdrop {
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}
.menu-sidebar {
  background-color: inherit;
  color: #1c1c1c;
  list-style: none;
  height: 100dvh;
}
.sidebar-item-group {
  width: 100%;
}
.sidebar-item-group::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #d2d7da;
  width: 70%;
  transform: translateX(-50%);
  bottom: -15px;
  left: 50%;
}
menu.menu-sidebar .sidebar-item-link {
  padding: 1em 0;
}
menu.menu-sidebar .sidebar-item-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.sidebar-item-link {
  font-size: var(--font-clamp-1);
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

/* cards */

.cards-container {
  width: 90dvw;
  height: 90dvh;
}
.card-wrapper {
  margin: 2em;
}
.card {
  width: 250px;
  /* height: 100px; */
  background: #243a86;
  border: 2px solid #b6b6b6;
  box-shadow: var(--box-shadow-3);
  padding: 2em;
  margin: 2em;
  aspect-ratio: 3/2;
  border-radius: var(--radius-2);
  text-decoration: none;
  transition: 0.2s;
}
.card > * {
  color: #fff;
}
.card:hover {
  background: #4259ab;
  scale: calc(100% + 5%);
  box-shadow: var(--box-shadow-hover);
  transition: 0.4s;
}
/* cards-contact-info */
.sc5-contact-info {
  transform: scale(0.8);
}
.card-contact-info {
  width: 250px;
  height: 250px;
  aspect-ratio: 4/4;
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  box-shadow: var(--box-shadow-2);
  padding: 1rem 2rem;
}
.card-contact-info:hover {
  background-color: #58b2cd;
}
.card-contact-info > * {
  color: #1c1c1c;
  stroke: #1c1c1c;
}
.card-contact-info:hover > * {
  color: #fff;
}
.card-contact-info:hover svg path {
  fill: #fff;
  stroke: #fff;
}
main.main-matricula .content-text p {
  max-width: 50ch;
  color: #1c1c1c;
  font-weight: 600;
}
main.main-matricula {
  background-color: #fff6e2;
  color: var(--cor-11);
}
.content-text-list li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content-text-list li::marker {
  font-weight: bold;
  font-size: var(--font-clamp-1);
}
.content-text details > summary {
  list-style: none;
}

.content-text details[open] .sp-saiba-mais {
  display: none !important;
}
.content-text details[open] .sp-saiba-menos {
  display: unset !important;
}
