main.main-consultar {
  font-size: var(--font-clamp-2);
}
.tb-consulta tr {
  display: flex;
  justify-content: start;
  width: 100%;
}
.tb-consulta .tr-titulo {
  display: flex;
  justify-content: center;
}
.tb-consulta td,
th {
  min-width: 150px;
  max-width: 100%;
  flex: 1;
}
