/* @font-face {
    font-family: 'Futura Md BT';
    font-display: swap;
    font-style: normal;
    src: url('fonts/futura-md-bt/futuram.ttf') format('TrueType');
}
@font-face {
    font-family: 'Futura Md BT';
    font-display: swap;
    font-style: bold;
    src: url('fonts/futura-md-bt/futurab.ttf') format('TrueType');
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');