
footer {
    width: 100%;
    background-color: var(--cor-18);
    color: var(--cor-10);
    padding: 3em 0;
    gap: 2em;
    z-index: 1;
  }
  .footer-trademark{
    gap: 3em;
  }
  hr{
    border: 1px #4d4d4d solid;
  }
  span {
    font-size: inherit !important;
  }
  span.sp1 {
    color: var(--cor-3);
  }
  span.sp2 {
    color: var(--cor-7);
  }
  span.sp3 {
    color: var(--cor-2);
  }
  
  .footer-links {
    list-style: none;
  }
  .footer-links > li {
    padding: var(--rem-half) 0;
  }
  .footer-info li{
    padding: var(--rem-half);
  }
  .footer-links .footer-link {
    font-size: var(--font-clamp-1);
    text-decoration: none;
  }
  .footer-link img{
    max-height: 1.625em;
  }
  .footer-link {
    display: flex;
    color: var(--footer-link-enabled);
    align-items: center;
    justify-content: start;
    gap: .3em;
  }
  .footer-link:hover {
    color: var(--footer-link-hover);
    text-decoration: underline;
  }
  .footer-link:active {
    color: var(--footer-link-pressed);
  }
  