main.main-home {
  background-color: #ffffff;
  padding-top: var(--header-height);
}
.sections {
  margin-inline: auto;
  min-height: 90dvh;
}
.sections:not(#sc1, #sc2) {
  padding: 3em 0;
}
#sc1 {
  /* background-color: red; */
  transform: translateY(-5em);
  height: 100%;
}

.sc1-text-content {
  margin-top: 5em;
  gap: 2em;
}
.sc1-content-left {
  position: relative;
  gap: 2em;
  margin-bottom: 2em;
}
.sc1-content-right {
  float: right;
  width: 45dvw;
  /* transform: translateY(-150px); */
}
.sc1-banner {
  top: -3em;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.sc1-text-content-title {
  color: var(--cor-8);
  max-width: 15ch;
}
.sc1-text-content-p {
  max-width: 15ch;
  text-align: start;
}
#sc2 {
  position: relative;
  background-color: var(--cor-2);
  max-width: none !important;
  gap: 2em;
  z-index: 1;
}
#sc2::before {
  content: "";
  background: url("/InstitutoRaiz/public/assets/images/vectors/shapes/PageTransitionShape_sc1.svg")
    no-repeat center bottom;
  background-size: cover;
  position: absolute;
  top: -8em;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: -1;
}
.sc2-title {
  color: var(--cor-6);
}
.sc2-content-layout {
  gap: 3em;
}
.sc2-content {
  gap: 3em;
}
.sc2-text-content-p {
  color: var(--cor-11);
  max-width: 50ch;
  text-overflow: ellipsis;
  height: 100%;
  margin-inline: 2em;
}
.sc2-image-carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sc2-carousel-items{
  transition: transform 0.5s ease;
} 
.sc2-carousel-item{
  min-width: 100%;
  transition: opacity 0.5s ease;
  opacity: 0;
  display: none;
} 
.sc2-carousel-item.active{
  display: block;
  opacity: 1;
}
.sc2-image-carousel img{
  width: 100%;
  display: block;
}
.sc2-progress-bar {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 152px;
  margin-top: 20px;
}

.progress-item {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  cursor: pointer;
}

.progress-item.active {
  width: 60px;
  height: 18px;
  border-radius: 9px;
}
#sc3 {
  position: relative;
  background-color: var(--cor-6);
  max-width: none !important;
  gap: 2em;
  z-index: 2;
}
#sc3::before {
  content: "";
  background: url("/InstitutoRaiz/public/assets/images/vectors/shapes/PageTransitionShape_sc2.svg")
    no-repeat center bottom;
  background-size: cover;
  position: absolute;
  top: -3em;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: -1;
}
.sc3-title {
  color: var(--cor-2);
}
.sc3-content {
  gap: 3em;
}
.sc3-text-content-p {
  color: var(--cor-10);
  max-width: 50ch;
  text-overflow: ellipsis;
  height: 100%;
}
#sc4 {
  position: relative;
  background-color: var(--cor-9);
  max-width: none !important;
  gap: 2em;
  z-index: 3;
}
#sc4::before {
  content: "";
  background: url("/InstitutoRaiz/public/assets/images/vectors/shapes/PageTransitionShape_sc3.svg")
    no-repeat center bottom;
  background-size: cover;
  position: absolute;
  top: -3em;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: -1;
}
.sc4-title {
  color: var(--cor-2);
}
.sc4-content {
  gap: 3em;
}
.sc4-text-content-p {
  color: var(--cor-7);
  max-width: 50ch;
  text-overflow: ellipsis;
  height: 100%;
}
