@media (min-width: 1920px) {
  #sc2.sc-content-layout {
    transform: scale(1.2);
  }
  #sc3.sc-content {
    transform: scale(1.2);
  }
  #sc4.sc-content {
    transform: scale(1.2);
  }
}
@media (max-width: 1000px) {
  #sc1.sections {
    flex-direction: column;
    max-height: unset !important;
    min-height: unset !important;
  }
  .sc-content {
    flex-direction: column;
  }
  #sc2.sc-content {
    padding-bottom: 9em !important;
  }
  header .header-nav .header-link,
  .header-interactive > * :not(.header-interactive .sidebar *) {
    display: none !important;
  }
  .header-socia-media {
    position: unset !important;
  }
  .menu-hamburguer {
    position: absolute;
    right: 3em;
    padding: 5em;
    background: url("/InstitutoRaiz/public/assets/images/vectors/icons/menu-vector.svg")
      center/contain no-repeat;
    box-shadow: unset;
  }
  .open-sidebar-profile-button {
    display: none !important;
  }
  .sidebar {
    width: 60dvw;
    left: calc(100% - 60dvw);
    transition: 0.3s;
  }
  #sc1.sc-content-right {
    min-width: 100%;
  }
  #sc1.sc-content-right .carousel-container img {
    width: 100dvw;
    max-height: 500px !important;
    min-height: unset !important;
  }
  .header-content .logo::after {
    content: "Instituto Raiz do Futuro";
    color: var(--cor-7);
    text-transform: uppercase;
    font-size: var(--font-clamp-3);
    font-weight: bold;
    min-width: 13ch;
  }
  .sidebar-item-group {
    padding: 4em 0;
  }
  svg * {
    fill: #1c1c1c;
  }
}
