*,
*::after,
*::before {
  font-size: var(--font-clamp--1);
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  width: 100%;
}
main:not(.main-home){
  font-size: var(--font-clamp-2);
  padding: calc(var(--header-height) + 4em) 0 4em 0;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.grid {
  display: grid;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.top{
  top: 0;
}
.right{
  right: 0;
}
.left{
  left: 0;
}
.bottom{
  bottom: 0;
}
.width-100pc{
  width: 100%;
}
.center {
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start ;
}
.justify-end {
  justify-content: end;
}
.flex-start {
  justify-content: flex-start !important;
}
.flex-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.border-box {
  box-sizing: border-box;
}
.weight-lighter {
  font-weight: lighter;
}
.weight-normal {
  font-weight: normal;
}
.weight-bold {
  font-weight: bold;
}
.weight-semi-bold {
  font-weight: 400;
}
.weight-bolder {
  font-weight: bolder;
}
.overflow-hidden {
  overflow: hidden;
}
.textflow-ellipse {
  text-overflow: ellipsis;
}
h1 {
  font-size: var(--font-clamp-5);
}
h2 {
  font-size: var(--font-clamp-4);
}
h3 {
  font-size: var(--font-clamp-3);
}
h4 {
  font-size: var(--font-clamp-2);
}
h5 {
  font-size: var(--font-clamp-1);
}
h6 {
  font-size: var(--font-clamp-0);
}
p {
  font-size: var(--font-clamp-1);
}
small {
  font-size: var(--font-clamp-1);
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.montserrat {
  font-family: Montserrat;
}
.font-inherit {
  font-size: inherit;
}
