*,
*::after,
*::before {
  font-size: var(--font-clamp--1);
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  'h'
  'm'
  'f';
}
main{
  grid-area: m;
}
main:not(.main-home, .main-erro) {
  font-size: var(--font-clamp-2);
  padding: calc(var(--header-height) + 4em) 0 4em 0;
}
.display-none {
  display: none !important;
}
.inline {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}
.flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row {
  flex-direction: row !important;
}
.grid {
  display: grid !important;
}
.absolute {
  position: absolute !important;
}
.fixed {
  position: fixed !important;
}
.relative {
  position: relative !important;
}
.sticky {
  position: sticky !important;
}
.top {
  top: 0 !important;
}
.right {
  right: 0 !important;
}
.left {
  left: 0 !important;
}
.bottom {
  bottom: 0 !important;
}
.width-100pc {
  width: 100% !important;
}
.height-100pc {
  height: 100% !important;
}
.size-100pc {
  width: 100% !important;
  height: 100% !important;
}
.gap-1 {
  gap: 1rem !important;
}
.gap-2 {
  gap: 2rem !important;
}
.gap-3 {
  gap: 3rem !important;
}
.center {
  justify-content: center !important;
  align-items: center !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-start {
  justify-content: start !important;
}
.justify-end {
  justify-content: end !important;
}
.flex-start {
  justify-content: flex-start !important;
}
.flex-end {
  justify-content: flex-end !important;
}
.align-center {
  align-items: center !important;
}
.space-between {
  justify-content: space-between !important;
}
.space-around {
  justify-content: space-around !important;
}
.space-evenly {
  justify-content: space-evenly !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.wrap {
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}
.border-none {
  border: none !important;
}
.border-box {
  box-sizing: border-box !important;
}
.weight-lighter {
  font-weight: lighter !important;
}
.weight-normal {
  font-weight: normal !important;
}
.weight-bold {
  font-weight: bold !important;
}
.weight-semi-bold {
  font-weight: 400 !important;
}
.weight-bolder {
  font-weight: bolder !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.textflow-ellipse {
  text-overflow: ellipsis !important;
}
.textflow-default {
  text-overflow: unset !important;
}
h1 {
  font-size: var(--font-clamp-3);
}
h2 {
  font-size: var(--font-clamp-2);
}
h3 {
  font-size: var(--font-clamp-1);
}
h4 {
  font-size: var(--font-clamp-0);
}
small,
h5,
p,
b {
  font-size: var(--font-clamp-1);
}
h6 {
  font-size: var(--font-clamp-0);
}

.uppercase {
  text-transform: uppercase !important;
}
.italic {
  font-style: italic !important;
}
.montserrat {
  font-family: Montserrat !important;
}
.font-inherit {
  font-size: inherit !important;
}
.cursor-none {
  cursor: none !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
