:root {
  /* font clamp responsive size */

  /* 9px */
  --font-clamp--2: clamp(0.5628rem, 0.5339rem + 0.1442vi, 0.88rem);
  /* 12px */
  --font-clamp--1: clamp(0.7502rem, 0.7184rem + 0.159vi, 1.1rem);
  /* 16px */
  --font-clamp-0: clamp(1rem, 0.9659rem + 0.1705vi, 1.375rem);
  /* 21px */
  --font-clamp-1: clamp(1.333rem, 1.2979rem + 0.1753vi, 1.7188rem);
  /* 28px */
  --font-clamp-2: clamp(1.7769rem, 1.7431rem + 0.1689vi, 2.1484rem);
  /* 37px */
  --font-clamp-3: clamp(2.3686rem, 2.3398rem + 0.1441vi, 2.6855rem);
  /* 50px */
  --font-clamp-4: clamp(3.1573rem, 3.1392rem + 0.0907vi, 3.3569rem);
  /* 67px */
  --font-clamp-5: clamp(4.1962rem, 4.2099rem + -0.0057vi, 4.2087rem);

  /* units */

  /* rem */
  --rem--4: 0.1rem;
  --rem--3: 0.2rem;
  --rem--2: 0.3rem;
  --rem--1: 0.4rem;
  --rem-half: 0.625rem;
  --rem-1: 1rem;
  --rem-1-half: 1.625rem;
  --rem-2: 2rem;
  --rem-2-half: 2.625rem;
  --rem-3: 3rem;
  --rem-3-half: 3.625rem;
  --rem-4: 4rem;
  --rem-4-half: 4.625rem;
  --rem-5: 5rem;

  /* radius */
  --radius--4: var(--rem--4);
  --radius--3: var(--rem--3);
  --radius--2: var(--rem--2);
  --radius--1: var(--rem--1);
  --radius-0: var(--rem-half);
  --radius-1: var(--rem-1);
  --radius-2: var(--rem-2);

  /* header size */
  --header-height: 202px;

  /* color pallet */
  --cor-1: #e86a1e;
  --cor-2: #ecb228;
  --cor-3: #8aa731;
  --cor-4: #427eba;
  --cor-5: #14416e;
  --cor-6: #4857ac;
  --cor-7: #f5e5c1;
  --cor-8: #9f5032;
  --cor-9: #2b7043;
  --cor-10: #d9d9d9;
  --cor-11: #222e6f;
  --cor-12: #f8f8f8;
  --cor-13: #424242;
  --cor-14: #319CFF;
  --cor-15: #98B658; 
  --cor-16: #E5A749; 
  --cor-17: #d3b06e; 
  --cor-18: #1e1e1e; 

  /* shadows */
  --box-shadow-1: 0px 0px 15px -2px rgba(0, 0, 0, 0.25);
  --text-shadow-1: 0px 0px 15px rgba(0, 0, 0, 0.25);

  /* elements colors */

  /* links */

  /* header-links states */
  --header-link-enabled: #fff8e9;
  --header-link-hover: #ad8c8c;
  --header-link-pressed: #d38383;

  /* buttons */

  /* default button states*/
  --btn-default-enabled: #1f2926;
  --btn-default-hover: #465852;
  --btn-default-pressed: #32423d;

  /* btn-entrar states */
  --btn-entrar-enabled: var(--cor-2);
  --btn-entrar-hover: var(--cor-4);
  --btn-entrar-pressed: var(--cor-5);

  /* btn-matricula states */
  --btn-matricula-enabled: var(--cor-8);
  --btn-matricula-hover: var(--cor-17);
  --btn-matricula-pressed: var(--cor-15);

  /* btn-sobre states */
  --btn-sobre-enabled: var(--cor-12);
  --btn-sobre-hover: var(--cor-15);
  --btn-sobre-pressed: var(--cor-8);

  /* btn-apadrinhar states */
  --btn-apadrinhar-enabled: var(--cor-14);
  --btn-apadrinhar-hover: var(--cor-16);
  --btn-apadrinhar-pressed: var(--cor-8);
}
